<!-- nav bar  -->
<nav class="navbar navbar-expand-lg bg-body-tertiary d-flex shadow-sm">
  <div class="container-fluid justify-content-center align-items-center">
    <a class="navbar-brand" href="#">BOOK STORE</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse p-2" id="navbarSupportedContent">
      <ul
        class="w-100 navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-between"
      >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a
            type="button"
            class="btn btn-success position-relative"
            routerLink="/cart"
          >
            <i class="bi bi-cart4"></i>
            Cart
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            >
              99+
            </span>
          </a>
          <!-- <a class="btn btn-success" href="#"
            >Cart
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            >
              99+
            </span></a
          > -->
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End navbar  -->
<section class="container-fluid mt-1">
  <router-outlet></router-outlet>
</section>
